body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font: 16px Calibri;
}

h3 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden; /* Udržuje stíny a zaokrouhlení uvnitř */
}

table th, table td {
    border: 1px solid #ddd; /* Decentní ohraničení */
    padding: 8px 16px; /* Více prostoru okolo textu */
    text-align: left;
}

table th {
    background-color: #4CAF50; /* Zelená barva pozadí jako u tlačítek */
    color: white;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;} /* Změna barvy při najetí myši */

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}
.buttons-container button, input::file-selector-button {
    background-color: #4CAF50; /* Zelená barva pozadí */
    color: white; /* Bílá barva textu */
    padding: 10px 24px; /* Vnitřní okraje */
    border: none; /* Žádný okraj */
    border-radius: 5px; /* Zaokrouhlené rohy */
    cursor: pointer; /* Kurzor ve tvaru ukazovátka */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stín */
    transition: all 0.3s ease; /* Přechod pro plynulé efekty */
}

.buttons-container button:hover, input::file-selector-button:hover {
    background-color: #45a049; /* Tmavší zelená při najetí myši */
}

.buttons-container button:active, input::file-selector-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Menší stín při kliknutí */
    transform: translateY(2px); /* Posun dolů při kliknutí */
}
.buttons-container {
    margin-top: 70px; /* Přidává prostor nahoře, posouvá tlačítka dolů */
}
